.wrapper {
    background:linear-gradient(to right, #09c8e6, #07eb97, #00ff88, #0091ff);
    min-height: 100px; 
    width: 95%; /* Full width for mobile, same as table's wrapper */
    max-width: 100%;
    margin: 0 auto;
    border-radius:  2rem 0rem 2rem 0rem; /* Same as table's wrapper */
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75); /* Same as table's wrapper */
    display: flex;
    padding: 10px; /* Increased padding to match table's wrapper */
    flex-direction: column;
    margin-top: 20px; /* Same as table's wrapper */
    color: #000000; /* added for black text color */
    text-align: center; /* added for center alignment */
    
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .rule {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .ruleca {
    font-size: 1.2rem;
    margin-bottom: 5px;
    max-width: 50%;
  }

  
  
  /* Larger devices */
  @media (min-width: 600px) {
    .wrapper {
      width: 80%; /* 80% for larger screens */
      max-width: 50%; /* 50% for larger screens */
      margin-top: 50px; /* larger margin for larger screens */
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); /* larger box shadow for larger screens */
    }
    
    .title {
      font-size: 2rem; /* larger font size for larger screens */
    }
  
    .rule {
      font-size: 1.5rem; /* larger font size for larger screens */
      margin-bottom: 20px; /* larger margin for larger screens */
    }
    .ruleca {
      max-width: 50%;
      font-size: 1.5rem; /* larger font size for larger screens */
      margin-bottom: 20px; /* larger margin for larger screens */
    }
  }

  
  